<nav role="nav" class="nav-{{ page.layout }} container">
  <div class="row">
    <article class="col-md-4 col-sm-6 col-xs-12">
      <a href="{{ site.baseurl }}{% link _pages/about.md %}">
        Qui sommes nous ?
      </a>
    </article>
    <article class="col-md-4 col-sm-6 col-xs-6">
      <a href="{{ site.baseurl }}{% link _pages/publics.md %}">
        Pour quels publics ?
      </a>
    </article>
    <article class="col-md-4 col-sm-6 col-xs-6">
      <a href="{{ site.baseurl }}{% link _pages/supports.md %}">
        Supports de médiation
      </a>
    </article>
    <article class="col-md-4 col-sm-6 col-xs-6">
      <a href="{{ site.baseurl }}{% link _pages/projet.md %}">
        Projet et Cadre thérapeutique
      </a>
    </article>
    <article class="col-md-4 col-sm-6 col-xs-6">
      <a href="{{ site.baseurl }}{% link _pages/demarche.md %}">
        Faire la démarche vers Raisonances
      </a>
    </article>
    <article class="col-md-4 col-sm-6 col-xs-6">
      <a href="{{ site.baseurl }}{% link _pages/contact.md %}">
        Nous contacter
      </a>
    </article>
    <article class="col-md-4 col-sm-6 col-xs-6">
      <a href="{{ site.baseurl }}{% link _pages/blog.md %}">
        Actualités
      </a>
    </article>
    <article class="col-md-4 col-sm-6 col-xs-6">
      <a href="{{ site.baseurl }}{% link _pages/infos.md %}">
        Infos pratiques
      </a>
    </article>
    <article class="col-md-4 col-sm-6 col-xs-6">
      <a href="{{ site.baseurl }}{% link _pages/tarifs.md %}">
        Tarifs
      </a>
    </article>
  </div>
</div>
