<div class="navbar">
  <div class="inner">
    <a class="toggle-nav-overlay glyphicon glyphicon-menu-hamburger" href="#nav" data-action="show"></a>
  </div>
</div>

<nav id="nav" role="nav" class="nav-{{ page.layout }} nav-sidebar overlay">
  <div class="navbar">
    <div class="inner">
      <a class="toggle-nav-overlay glyphicon glyphicon-remove" href="#nav" data-action="hide"></a>
    </div>
  </div>

  <ul>
    {% for __page in site.pages %}
      {% for nav in __page.nav %}
        {% if nav == 'home' and __page.url != page.url %}
          <li>
            <a href="{{ site.baseurl }}{{ __page.url }}">
              <span>{{ __page.ref | default: __page.title }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</nav>
