<head>
  <title>{{ title }}</title>

  <meta name="description" content="{{ description }}">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width">

  {% feed_meta %}

  {% seo %}

  {% include prerender.html %}

  {% for font in site.google.fonts %}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family={{ font }}">
  {% endfor %}

  {% asset app.css @inline %}

  {% if page.layout != 'post' %}
    <style rel="stylesheet" type="text/css">
      #header {
        background-image: url({% asset '{{ page.header.background | default: site.header.background }}' @data %})
      }
    </style>
  {% endif %}
</head>
