{% capture header-style %}
  background-image: url({% asset '{{ page.header.background | default: site.header.background }}' @data %});
{% endcapture %}

<header id="header" class="site-header" style="{{ header-style }}"">
  <div class="container">
    <div class="wrapper">
      <div class="content">
        <h1 class="sc">{{ page.title | default: site.title }}</h1>
        {% for subtitle in page.subtitles %}
          <p class="subtitle">{{ subtitle }}</p>
        {% endfor %}
        {% if page.layout == 'notfound' %}
          <a class="to-home" href="/">Cliquez ici</a>
        {% else %}
          <a class="scroll-to" href="#main">&#9662;</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
