{% if page.layout == 'post' %}
  <header id="header" class="site-header">
    <div class="container">
      <div class="row">
        <a class="to-home col-xs-6" href="{% link _pages/00-index.md %}">&#8624;&nbsp;Accueil</a>
        <a class="to-blog col-xs-6" href="{% link _pages/08-blog.md %}">Blog&nbsp;&#8625;</a>
      </div>
    </div>
  </header>
{% else %}
  <header id="header" class="site-header">
    {% if page.layout != 'home' %}
      <a id="to-home" class="btn" href="{% link _pages/00-index.md %}">Accueil</a>
    {% endif %}
    <div class="container">
      <div class="wrapper">
        <div class="content">
          <h1>
            <span class="sc">{{ page.title | default: site.title }}</span>
          </h1>
          {% for subtitle in page.subtitles %}
            <p class="subtitle">{{ subtitle }}</p>
          {% endfor %}
          {% if page.layout == 404 %}
            <a class="to-home" href="/">Cliquez ici</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
{% endif %}
