<!-- start prerender block -->
{% if page.layout == 'page' %}
  {% for slug in page.prerender %}
    {% for __page in site.pages %}
      {% if __page.slug == slug %}
        <link rel="prerender" href="{{ site.baseurl }}{{ __page.url }}">
      {% endif %}
    {% endfor %}
  {% endfor %}
{% elsif page.layout == 'blog' %}
  {% for __post in site.posts %}
    <link rel="prerender" href="{{ site.baseurl }}{{ __post.url }}">
  {% endfor %}
{% elsif page.layout == 'post' %}
  <link rel="prerender" href="/blog/index.html">
  {% if page.next %}
    <link rel="prerender" href="{{ site.baseurl }}{{ page.next.url }}">
  {% endif %}
  {% if page.previous %}
    <link rel="prerender" href="{{ site.baseurl }}{{ page.previous.url }}">
  {% endif %}
{% endif %}
<!-- end prerender block -->
