#main
  padding: 0 0 20px
  font-size: 20px
  h2
    text-decoration: underline
    font-family: $font-smallcaps
  .container
    margin-top: 0
    top: -30px
    margin-bottom: 20px
    padding: 40px
    background-color: #fff
  nav.container
    background: transparent
    padding: 0
    article
      display: inline-table
      height: 100px
      margin-top: 15px
      margin-bottom: 15px
      & > a
        display: table-cell
        height: 100%
        padding: 20px
        background-color: #ababab
        color: #fff
        cursor: pointer
        text-align: left
        vertical-align: middle
        font-family: $font-smallcaps
        font-weight: bold
        font-size: 16px
        &:hover
          background-color: #9a9a9a
    &#nav-support-category
        margin-bottom: 80px
        border-top: 1px solid #999
        border-bottom: 1px solid #999
        a
            padding-right: 40px
            &:before
                content: '\2192'
                display: block
                position: absolute
                right: 15px

@media screen and (max-width: 809px)
  #main
    .container
      width: calc(100% - 60px)

.page #main
  .hero, .section
    a
      text-decoration: underline

.infos #gm_if
  width: 100%
  height: 600px
  max-width: 100%
  border: 0

.legal #main
    font-size: 16px
    color: #444
    a, h3
        text-decoration: underline
    h3
        margin-top: 50px

.supports #main
    nav.container.nav-supports
        display: none
    nav.container#nav-support-category
        a:hover
            background-color: initial
        .cat-ecriture
            background-color: #e9c9b1
            color: #fff
            &:hover
                background-color: #d2d7d3
                color: #fff
        .cat-philo
            background-color: #3498db
            color: #fff
            &:hover
                background-color: #52b3d9
        .cat-nourriture
            background-color: #9b59b6
            color: #fff
            &:hover
                background-color: #8e44ad
        .cat-corps
            background-color: #ec644b
            color: #fff
            &:hover
                background-color: #ef4836
        .cat-arts-plastiques
            background-color: #f4d03f
            color: #fff
            &:hover
                background-color: #f9bf3b
        .cat-multimedia
            background-color: #95a5a6
            color: #fff
            &:hover
                background-color: #6c7a89

.support
    #main
        padding-top: 30px
        .container
            top: 0
            padding: 0
            background: transparent
            a
                text-decoration: underline
        #back
            text-decoration: none
            font-weight: 900
            font-size: 100px
        h1
            padding-top: 50px
            font-size: 60px
            font-weight: 900
    footer
        display: none


.support.aliment #main
    h1, h2
        color: #9b59b6

.support.arts-plastiques #main
    h1, h2
        color: #f4d03f

.support.philosophie #main
    h1, h2
        color: #3498db

.support.menu
    #main
        h2
            font-family: $font-default
            font-size: 100px
            font-weight: 900
            text-decoration: none
            padding: 0
            margin: 0
            a
                display: block
                text-decoration: none
                padding: 0
                margin: 0
                &:before
                    display: block
                    position: absolute
                    right: 1em
                    content: '\2192'
                &:hover
                    color: initial
