@import "app/vars"

#navbar
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 30px
  background: transparent
  color: #fff
  display: table
  .inner
    display: table-cell
    height: 100vh
    vertical-align: middle
    text-align: center
    font-size: 16px

#nav
  position: fixed
  top: calc(50% - 200px)
  left: calc(50% - 200px)
  overflow-x: hidden
  overflow-y: auto
  width: 400px
  height: 400px
  background-color: #9a9a9a
  color: #fff
  padding: 40px
  font-size: 14px
