{% assign description = page.description | default: site.description %}

{% capture title %}
  {{ site.title }}
  {% if page.layout != 'home' %}
    | {{ page.title }}
  {% endif %}
  {% if page.subtitles %}
    | {{ page.subtitles | join: ', ' }}
  {% endif %}
{% endcapture %}

<!doctype html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: 'fr' }}">
  <head>
    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width">

    {% feed_meta %}

    {% seo %}

    {% for font in site.google.fonts %}
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family={{ font }}">
    {% endfor %}

    {% asset app.css @inline %}
  </head>
  <body class="site {{ page.layout }} {{ page.slug }}">

    {% include header.html %}

    <main id="main" class="site-main" role="main">
      {{ content }}
    </main>

    {% include footer.html %}

    {% include nav.html %}

    {% asset app.js @inline %}
  </body>
</html>
