<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">

  {% include head.html %}

  <body class="site {{ page.layout }} {{ page.slug }}">

    {% include header.html %}

    {% if page.layout != 'notfound' %}
      <main id="main" class="site-main" role="main">
        {{ content }}

        {% include navigation.html %}
      </main>

      {% include footer.html %}

      <a id="scroll-top" href="#">&uarr;</a>

      {% asset app.js @inline %}
    {% endif %}
  </body>
</html>
