<!doctype html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: 'fr' }}">
  <head>
    <title>{{ page.title | default: site.title }} | {{ page.subtitle | default: site.subtitle }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width">

    {% feed_meta %}

    {% seo %}

    {% for font in site.google.fonts %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ font }}">
    {% endfor %}

    {% for stylesheet in site.stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}

    {% asset app.css %}
  </head>
  <body class="site {{ page.layout }}">
    <header id="header" class="site-header"
      style="background-image: url({% asset '{{ page.header.background | default: site.header.background }}' @path %})">
      <div class="container">
        <div class="wrapper">
          <div class="content">
            <h1 class="sc">{{ page.title | default: site.title }}</h1>
            <p class="subtitle">{{ page.subtitle | default: site.subtitle }}</p>
            <a class="scrollr" href="#main">&#9662;</a>
          </div>
        </div>
      </div>
    </header>

    <main id="main" class="site-main" role="main">
      {{ content }}
    </main>

    <footer id="footer" class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-right">
            <a class="legal" href="{{ site.baseurl }}{% link _pages/legal.md %}">Mentions légales</a>
          </div>
        </div>
      </div>
    </footer>

    <script async type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"
      data-main="{% asset app.js @path %}">
    </script>
  </body>
</html>
