---
  layout: default
---

{% if content.size > 1 %}
  <div class="container hero">
    <div class="row">
      <div class="col-md-12">
        {{ content }}
      </div>
    </div>
  </div>
{% endif %}


{% for section in page.sections %}
  <section class="container section" id="{{ section.title | slugify }}">
    {% if section.title %}
      <h2 class="page-section-title">
        <span>{{ section.title }}</span>
        {% if section.subtitle %}
          <br /><small>{{ section.subtitle }}</small>
        {% endif %}
      </h2>
    {% endif %}
    <div class="content">
      {{ section.content | markdownify }}
    </div>
  </section>
{% endfor %}

{% include gallery.html %}
