---
  layout: default
---

<div class="container">
  <div class="row">
    <ul class="col-sm-6 col-lg-4 list-unstyled">
      <li>Arts plastiques tous supports (dont modelage)</li>
      <li>Sculpture</li>
      <li>Art Textile</li>
    </ul>
    <ul class="col-sm-6 col-lg-4 list-unstyled">
      <li>Musique</li>
      <li>Chant</li>
    </ul>
    <ul class="col-sm-6 col-lg-4 list-unstyled">
      <li>Contes / Marionettes</li>
      <li>Langage écrit</li>
      <li>Philosophie</li>
      <li>Photo / Langage</li>
      <li>Blog thérapeutique</li>
    </ul>
    <ul class="col-sm-6 col-lg-4 list-unstyled">
      <li>Théâtre d'improvisation</li>
      <li>Danse contemporaine</li>
      <li>Sophrologie</li>
      <li>Yoga</li>
      <li>Esthétique Corporelle</li>
      <li>Sport</li>
    </ul>
    <ul class="col-sm-6 col-lg-4 list-unstyled">
      <li>Art Floral</li>
      <li>Aliment / Saveur / Odeur</li>
    </ul>
    <ul class="col-sm-6 col-lg-4 list-unstyled">
      <li>Jeux de société</li>
      <li>Photo</li>
      <li>Informatique</li>
    </ul>
  </div>
  <div class="row">
    <hr>
    <center>
      <small>D'autres supports sont en cours d'élaboration avec nos partenaires.</small>
    </center>
    <hr>
  </div>
</div>
