---
  layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-12">
            Chapo
        </div>
    </div>
</div>

<nav class="container" id="nav-support-category">
    <div class="row">
        <article class="col-md-4 col-sm-6">
            <a class="cat-arts-plastiques" href="{{ site.baseurl }}{% link _pages/supports/arts-plastiques.md %}">Arts plastiques</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-arts-plastiques" href="{{ site.baseurl }}{% link _pages/supports/sculpture.md %}">Sculpture</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-arts-plastiques" href="{{ site.baseurl }}{% link _pages/supports/art-textile-tissage.md %}">Art Textile & Tissage</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-multimedia" href="{{ site.baseurl }}{% link _pages/supports/multimedia.md %}">Image & Son</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-corps">Esthétique Corporelle</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-corps">Mouvement & Geste</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-nourriture" href="{{ site.baseurl }}{% link _pages/supports/aliment.md %}">Aliment</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-philo" href="{{ site.baseurl }}{% link _pages/supports/philosophie.md %}">Philosophie</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-philo" href="{{ site.baseurl }}{% link _pages/supports/yoga.md %}">Yoga</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-ecriture">Contes, Marionnettes & Dessin</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-ecriture">Atelier langage écrit par le Jeu de Rôles</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-ecriture">Atelier d'écriture par la création de Contes</a>
        </article>
    </div>
</nav>
