---
  layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Notre équipe pluridisciplinaire est constituée de professionnels
                issus de parcours divers, qui mettent en commun leurs pratiques
                et savoirs-faire pour co-élaborer des réponses individualisées
                aux problématiques des usagers.</p>
            <p>La spécificité de chaque proposition de médiation repose sur le
                tissage entre les pratiques et spécialités des intervenants et
                les supports proposés.</p>
        </div>
    </div>
</div>

<nav class="container" id="nav-support-category">
    <div class="row">
        <article class="col-md-4 col-sm-6">
            <a class="cat-arts-plastiques" href="{{ site.baseurl }}{% link _pages/supports/arts-plastiques.md %}">Arts plastiques</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-arts-plastiques" href="{{ site.baseurl }}{% link _pages/supports/sculpture.md %}">Sculpture</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-arts-plastiques" href="{{ site.baseurl }}{% link _pages/supports/art-textile-tissage.md %}">Art Textile & Tissage</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-multimedia" href="{{ site.baseurl }}{% link _pages/supports/multimedia.md %}">Image & Son</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-corps" href="{{ site.baseurl }}{% link _pages/supports/esthetique-corporelle.md %}">Esthétique Corporelle</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-corps" href="{{ site.baseurl }}{% link _pages/supports/mouvement-geste.md %}">Mouvement & Geste</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-nourriture" href="{{ site.baseurl }}{% link _pages/supports/aliment.md %}">Aliment</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-philo" href="{{ site.baseurl }}{% link _pages/supports/philosophie.md %}">Philosophie</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-philo" href="{{ site.baseurl }}{% link _pages/supports/yoga.md %}">Yoga</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-ecriture" href="{{ site.baseurl }}{% link _pages/supports/contes-marionnettes-dessin.md %}">Contes, Marionnettes & Dessin</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-ecriture" href="{{ site.baseurl }}{% link _pages/supports/atelier-ecriture-creation-contes.md %}">Atelier d'écriture par la création de Contes</a>
        </article>
        <article class="col-md-4 col-sm-6">
            <a class="cat-ecriture" href="{{ site.baseurl }}{% link _pages/supports/atelier-langage-ecrit-jdr.md %}">Atelier langage écrit par le Jeu de Rôles</a>
        </article>
    </div>
</nav>
